.color{
    color: red;
}
.color1{
    color: #008CBA;
}
.button1 {
    font-size: 20px;
    text-align: justify;
    padding: 0px 20px;
    background-color: white;
    color:#008CBA;
    border: 2px solid#008CBA;
    width: 100px;
    height: 30px;
    float: right;
    
    
}
pagination-controls
{
    float:right;
}
.td {
    width: "800px";
}

span
{
    float:right;
}

.icon-link icon-link-hover icon1{
    --bs-icon-link-transform: "translate3d(0, -.125rem, 0)";

}