  <nav class="navbar bg-body-tertiary">

    <div class="container-fluid">
    
    <a class="navbar-brand" style="color:white" >
    
    
    <br>
    
    <img src="https://www.designevo.com/res/templates/thumb_small/circle-branch-letter-m.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top rounded-circle">
    
   
    
    Mural Context Manager Configurations
    
    
    </a>
    
    </div>
    
    </nav>
    
    <div class="sidebar">
    
    
    <a routerLink="/" style="color:white">Location Mapping</a>
    
    <a routerLink="#" style="color:white">Facility</a>

    <a routerLink="#" style="color:white">Application</a>

    <a routerLink="#" style="color:white">CM Template</a>
    
    <a routerLink="#" style="color:white">Cockpit</a>

    <a routerLink="#" style="color:white">End-Point Mapping</a>

    <a routerLink="#" style="color:white">Notes Template</a>
    
    <a routerLink="#" style="color:white">EMR</a>
    
    <a routerLink="/task" style="color:white">Task</a>

    <a routerLink="#" style="color:white">Task Set</a>
    
    
    
    </div>