  <nav class="navbar bg-body-tertiary">

    <div class="container-fluid">
    
    <a class="navbar-brand">
    
    
    <br>
    
    <img src="https://www.designevo.com/res/templates/thumb_small/circle-branch-letter-m.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top rounded-circle">
    
   
    
    Mural Context Manager Configurations
    
    
    </a>
    
    </div>
    
    </nav>
    
    <div class="sidebar">
    
    
    <a routerLink="/">Location Mapping</a>
    
    <a routerLink="/">Facility</a>

    <a routerLink="/">Application</a>

    <a routerLink="/">CM Template</a>
    
    <a routerLink="/">Cockpit</a>

    <a routerLink="/">End-Point Mapping</a>

    <a routerLink="/">Notes Template</a>
    
    <a routerLink="/">EMR</a>
    
    <a routerLink="/task">Task</a>

    <a routerLink="/">Task Set</a>
    
    
    
    </div>